@model WFHMicrosite.Models.LoginModel

@{
    ViewData["Title"] = "Log In";
}


@section head {
    <style type="text/css">
        body {
            background-image: url('/wfhmicrosite/images/background.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0;
        }
    </style>
}

<form id="login" method="post">
    <input type="hidden" asp-for="@Model.ProductId" />
    <input type="hidden" asp-for="@Model.Language" />
    <table style="position:absolute; top:40%; height:80%; width:90%; text-align:center">
        <tr>
            <td>
                <div style="color: white; font-weight: bolder; font-size: 250%; line-height: 35px">WORK FROM HOME<br />CHAIR SELECTOR</div>
                <br />
                <input asp-for="EmailAddress" type="email" placeholder="EMAIL" style="width:300px" /><br /><br />
                <input asp-for="PIN" type="password" placeholder="UNIQUE PIN" />&nbsp;&nbsp;
                <button type="submit" id="btnSubmit" class="btn btn-primary btn-sm" style="background-color: gray">SUBMIT</button>
                <br /><br />
                <label style="color:white; font-size:110%">@ViewBag.ErrorResults</label>
            </td>
        </tr>
    </table>

    <footer class="container-fluid footer text-muted" style="position:fixed; bottom:0px">
        <div style="color:white; font-size:xx-small">
            &copy; @DateTime.Now.Year - Allseating Corporation. All Rights Reserved.
        </div>
    </footer>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            SetLanguage();
        });

        function SetLanguage() {
            if ($('#Language').val() == "English") {
                $('#banner').html("WORK FROM HOME<br />CHAIR SELECTOR");
                $('#EmailAddress').attr("placeholder", "EMAIL");
                $('#PIN').attr("placeholder", "UNIQUE PIN");
                $('#btnSubmit').html("SUBMIT");
            }
            else {
                $('#banner').html("TRAVAIL À DOMICILE<br />SÉLECTEUR DE CHAISE");
                $('#EmailAddress').attr("placeholder", "EMAIL");
                $('#PIN').attr("placeholder", "PIN UNIQUE");
                $('#btnSubmit').html("SOUMETTRE");
            }
        }
    </script>
}